<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 引入layui.css -->
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
    <!-- 引入jquery -->
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <style>
        #set_original_image label,
        #set_original_image input[type="file"],
        #set_original_image input[type="submit"] {
            display: inline-block;
            vertical-align: middle;
        }
        #set_original_image label {
            margin-right: 10px;
        }
    </style>

    <title>图像处理实验平台</title>
</head>
<body>

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">图像处理实验平台</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <!-- 移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                <i class="layui-icon layui-icon-spread-left"></i>
            </li>


            <span class="layui-nav-bar"></span></ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="/admin/index">刷新</a>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect="">
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-more-vertical"></i>
                </a>
            </li>
            <span class="layui-nav-bar" style="left: 149.9px; width: 0px; opacity: 0; top: 56px;"></span></ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">图像处理<i
                            class="layui-icon layui-icon-down layui-nav-more"></i></a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="chages('/admin/show', '/admin/geometric_transformation')">图像几何变换</a></dd>
                        <dd><a onclick="chages('/admin/show', '/admin/image_threshold')">图像阈值</a></dd>
                        <dd><a onclick="chages('/admin/show', '/admin/enhance_contrast')">图像对比度增强</a></dd>
                        <dd><a onclick="chages('/admin/show', '/admin/smooth_image')">平滑图像</a></dd>
                        <dd><a onclick="chages('/admin/show', '/admin/morphological_transformation')">形态转换</a></dd>
                        <dd><a onclick="chages('/admin/show', '/admin/edge_detection')">边缘检测</a></dd>
                        <dd><a onclick="chages('/admin/show', '/admin/template_matching')">模板匹配</a></dd>
                        <dd><a onclick="chages('/admin/show', '/admin/hough_transform')">霍夫变换</a></dd>
                    </dl>
                </li>
{#                <li class="layui-nav-item">#}
{#                    <a href="javascript:;">特征检测<i class="layui-icon layui-icon-down layui-nav-more"></i></a>#}
{#                    <dl class="layui-nav-child">#}
{#                        <dd><a onclick="chages('/admin/show', '/admin/template_matching')">角点检测</a></dd>#}
{#                        <dd><a onclick="chages('/admin/show', '/admin/hough_transform')">特征匹配</a></dd>#}
{#                    </dl>#}
{#                </li>#}
                <li class="layui-nav-item">
                    <a href="javascript:;">计算摄影<i class="layui-icon layui-icon-down layui-nav-more"></i></a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="chages('/admin/show', '/admin/template_matching')">图像去噪</a></dd>
                        <dd><a onclick="chages('/admin/show', '/admin/hough_transform')">图像修复</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a onclick="chages('/admin/show', '/admin/face_recognition')">人脸检测 demo</a></li>
                <li class="layui-nav-item"><a onclick="chages('/admin/show', '/admin/answer_sheet_identification')">答题卡识别 demo</a></li>
                <span class="layui-nav-bar" style="top: 55px; height: 0px; opacity: 0;"></span></ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <form id="set_original_image" enctype="multipart/form-data">
                <label for="image">Select image to upload:</label>
                <input type="file" name="image" id="image">
                <input type="submit" value="Upload" class="layui-btn">
            </form>
            内容主体区域
            <div id="content"></div>
        </div>
    </div>

    <div class="layui-footer" style="height: 200px;line-height: 20px">
        <!-- 控制菜单区域 -->
        控制台
        <div id="footer" class="layui-body"></div>
    </div>
</div>
<!-- 引入layui.js -->
<script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
<script>
    //JS
    layui.use(['element', 'layer', 'util'], function () {
        var element = layui.element,
            layer = layui.layer,
            util = layui.util,
            $ = layui.$;

        //头部事件
        util.event('lay-header-event', {
            //左侧菜单事件
            menuLeft: function (othis) {
                layer.msg('展开左侧菜单的操作', {icon: 0});
            }
            , menuRight: function () {
                layer.open({
                    type: 1
                    , title: '更多'
                    , content: '<div style="padding: 15px;">处理右侧面板的操作</div>'
                    , area: ['260px', '100%']
                    , offset: 'rt' //右上角
                    , anim: 5
                    , shadeClose: true
                    , scrollbar: false
                })
            }
        });

    });

    function chages(url_b_srt, url_c_srt) {
        get_html(url_b_srt, id = '#content')
        get_html(url_c_srt, id = '#footer')
    };

    function get_html(url_srt, id) {
        $.ajax({
            url: url_srt,
            type: 'GET',
            dataType: 'html',
            success: function (data) {
                $(id).html(data);
            }
        })
    };

    // set_original_image
    $("#set_original_image").submit(function (event) {
        event.preventDefault();  // 阻止表单的默认提交行为
        var form_data = new FormData();
        var file_input = document.getElementById('image');
        form_data.append('image', file_input.files[0]);
        $.ajax({
            url: "/img/set_original_image",
            type: "POST",
            data: form_data,
            contentType: false,
            processData: false,
            success: function (response) {
                // 处理成功响应
                get_html("/admin/show", id = '#content')
                layer.msg('图片上传成功', {
                    icon: 1,
                    time: 1000
                })//1秒关闭（如果不配置，默认是3秒）
            },
            error: function (xhr) {
                // 处理错误响应
                console.log("error")
                layer.msg('请先选择图片', {
                    icon: 2,
                    time: 2000
                })//2秒关闭（如果不配置，默认是3秒）
            }
        });
    });
</script>
</body>
</html>