{#形态变换#}
{% extends 'extend.html' %}

{% block from_content %}
    <form id="morphological_transformation">
        <label for="filter_type">选择形态操作</label><br>
        <select id="filter_type" name="filter_type">
            <option value="erode">腐蚀</option>
            <option value="dilate">膨胀</option>
            <option value="opening">开运算</option>
            <option value="closing">闭运算</option>
            <option value="gradient">形态梯度</option>
            <option value="tophat">顶帽</option>
            <option value="blackhat">黑帽</option>
        </select><br>
        <label for="kernel_size">输入核大小</label><br>
        <input type="number" id="kernel_size" name="kernel_size" value="5"><br>
        <br>
        <input type="submit" value="提交">
    </form>
{% endblock %}

{% block content %}
{{ explanation }}
{% endblock %}

{% block script_content %}
    <script>
        $("#morphological_transformation").submit(function (event) {
            event.preventDefault();  // 阻止表单的默认提交行为
            $.ajax({
                url: "/img/morphological_transformation",
                type: "POST",
                data: $(this).serialize(),
                success: function (response) {
                    // 处理成功响应
                    console.log("success")
                    get_html("/admin/show", id = '#content')
                },
                error: function (xhr) {
                    // 处理错误响应
                    console.log("error")
                }
            });
        });
    </script>
{% endblock %}